[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/tale-hugo"]
	path = themes/tale-hugo
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/themes/hyde"]
	path = themes/themes/hyde
	url = https://github.com/spf13/hyde.git
